{
    "endOfLine": "lf",
    "arrowParens": "always",
    "trailingComma": "none",
    "semi": false,
    "useTabs": false,
    "singleQuote": false,
    "bracketSpacing": true,
    "tabWidth": 4,
    "printWidth": 120
}
